/* basic styling  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #3c3232;
  margin: 12rem 13rem;
  width: 25%;
}

.field-wrap {
  position: relative;
  height: 5rem;
  line-height: 44px;
}

/* css for label  */
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
  font-size: 1.2rem;
}

/* css for input field */
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #6e6a6a;
  box-shadow: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: #fff;
}

input:invalid {
  outline: 0;
}

input:focus,
input:valid {
  border-color: #ccc;
}

/* css for moving label to above the input field on focus and valid  */
input:focus ~ label,
input:valid ~ label {
  font-size: 10px;
  top: -2rem;
  color: #ccc;
}
